<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="1">
    <parameter name="browser" value="chrome"/>
    <test name="RegisterPartnerWithValidValues">
        <classes>
            <class name="org.example.test.Task7"/>
        </classes>
    </test>
    <test name="RegisterVolunteerWithValidValues">
        <classes>
            <class name="org.example.test.Task13_1"></class>
        </classes>
    </test>
    <test name="RegisterOrganizationWithValidValues, CreateTask">
        <classes>
            <class name="org.example.test.Task13_3"></class>
        </classes>
    </test>
    <test name="NavigationMenuTests">
        <classes>
            <class name="org.example.test.Task5_2"></class>
        </classes>
    </test>
</suite>